<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ash Maiden</title>
		<link rel="stylesheet" type="text/css" href="/styles/style.css" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/images/apple-touch-icon.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/images/favicon-32x32.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/images/favicon-16x16.png" />
		<link rel="manifest" href="/images/site.webmanifest" />
	</head>
	<body>
		<section class="controls">
			<div>
				<button value="copyselection" id="copyselection">Copy</button>
				<button value="pasteselection" id="pasteselection">Paste</button>
			</div>
			<div>
				<button value="clear" id="clear">Clear</button>
				<button id="scrollup">Scroll Up</button>
				<button id="scrolldown">Scroll Down</button>
			</div>
		</section>

		<section class="content">
			<div id="corner"></div>
			<section class="story">
				<h1>Ash Maiden.</h1>
				<h5>By the Brothers Grimm.</h5>
				<a
					href="https://www.gutenberg.org/files/52521/52521-h/52521-h.htm#hdr_10"
					>Source: Gutenberg Org.</a
				>

				<p>
					The wife of a rich man fell sick, and as she felt that her end was
					drawing near, she called her only daughter to her bedside and said,
					“Dear Child, be good and pious, and then the dear God will always
					protect you, and I will look down on you from Heaven and be near you.”
					Thereupon she closed her eyes and departed.
				</p>

				<p>
					Every day, the maiden went out to her mother’s grave and wept, and she
					remained pious and good. When winter came the snow spread a white
					sheet over the grave, and when the spring-sun had drawn it off again,
					the man had taken another wife.
				</p>

				<p>
					The woman had brought two daughters into the house with her, who were
					beautiful and fair of face, but vile and black of heart. Now began a
					bad time for the poor child. “Is the stupid goose to sit in the parlor
					with us?” said they. “He who wants to eat bread, must earn it. Out
					with the kitchen-wench!”
				</p>

				<p>
					They took her pretty clothes away from her, put an old gray bedgown on
					her and gave her wooden shoes. “Just look at the proud Princess, how
					decked out she is!” they cried, and laughed, and led her into the
					kitchen.
				</p>

				<p>
					There she had to do hard work from morning till night, get up before
					daybreak, carry water, light fires, cook and wash. Besides this, the
					sisters did her every imaginable injury—they mocked her and emptied
					her peas and lentils into the ashes, so that she was forced to sit and
					pick them out again.
				</p>
			</section>

			<section class="interaction">
				<h2>Text Field</h2>
				<textarea
					name="copiedtext"
					id=""
					cols="30"
					rows="10"
					placeholder="Your text gets pasted here"></textarea>
				<p><span id="charCount">0</span> characters</p>

				<button id="recopy">Copy this</button>
			</section>
		</section>

		<script src="/scripts/script.js"></script>
	</body>
</html>
