<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Nicolette's World</title>
		<link rel="stylesheet" type="text/css" href="/styles/style.css" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/images/apple-touch-icon.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/images/favicon-32x32.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/images/favicon-16x16.png" />
		<link rel="manifest" href="/images/site.webmanifest" />
	</head>
	<body>
		<section class="controls">
			<div>
				<button value="copyselection" id="copyselection">Copy</button>
				<button value="pasteselection" id="pasteselection">Paste</button>
			</div>
			<div>
				<button value="clear" id="clear">Clear</button>
				<button id="scrollup">Scroll Up</button>
				<button id="scrolldown">Scroll Down</button>
			</div>
		</section>

		<section class="content">
			<div id="corner"></div>
			<section class="story">
				<h1>Nicolette's World.</h1>

				<p>
					Once upon a time, in the quaint village of Carto, nestled between
					rolling hills and babbling brooks, lived a woman named Nicolette.
					Nicolette had an insatiable curiosity about the world around her,
					especially when it came to geography. Whenever she had some free time
					from her busy work as an activist and educator, she would set her
					curious eyes on unique maps, tracing rivers with her finger and
					marveling at the shapes of continents.
				</p>

				<p>
					One sunny morning, Nicolette decided it was time to embark on the
					adventure of her lifetime. She got a replacement for her
					responsibilities and made sure that her neighbors would look after her
					plants. At last, she set off into the unknown - over mountains, into
					caves, across streams and rivers. Each view seemed more beautiful and
					captivating than the last, and as she continued on, Nicolette felt
					less and less willing to return home.
				</p>

				<p>
					One evening, as she sat under the stars, a particularly loud voice
					descended upon her. "Go home," it said. "I've shown you everything.
					Your plants have grown into trees by now, it's been long enough." But
					Nicolette hadn't seen enough, she argued with the mysterious voice.
				</p>

				<p>
					"There's more to see at home!" The voice insisted. "Go and see for
					yourself." Reluctantly, Nicolette traveled back home, and the voice
					had been right! Her beloved plants were now trees, her house covered
					in lush green leaves, and her neighbors had a new greenhouse in their
					garden. Nicolette realized that adventure was everywhere, and so was
					the beauty of the world that she'd been so desperate to find. So she
					set off on another adventure - one that she'd missed all of her life,
					and could now discover with fresh eyes.
				</p>
			</section>

			<section class="interaction">
				<h2>Text Field</h2>
				<textarea
					name="copiedtext"
					id=""
					cols="30"
					rows="10"
					placeholder="Your text gets pasted here"></textarea>
				<p><span id="charCount">0</span> characters</p>

				<button id="recopy">Copy this</button>
			</section>
		</section>

		<script src="/scripts/script.js"></script>
	</body>
</html>
