<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Nicolette's World</title>
		<link rel="stylesheet" type="text/css" href="/styles/style.css" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/images/apple-touch-icon.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/images/favicon-32x32.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/images/favicon-16x16.png" />
		<link rel="manifest" href="/images/site.webmanifest" />
	</head>
	<body>
		<section class="controls">
			<div>
				<button value="copyselection" id="copyselection">Copy</button>
				<button value="pasteselection" id="pasteselection">Paste</button>
			</div>
			<div>
				<button value="clear" id="clear">Clear</button>
				<button id="scrollup">Scroll Up</button>
				<button id="scrolldown">Scroll Down</button>
			</div>
		</section>

		<section class="content">
			<div id="corner"></div>
			<section class="story">
				<h1>Nicolette's World.</h1>
				<h5>Exploring the flourishing geography of the earth.</h5>

				<p>
					Once upon a time, in the quaint village of Carto, nestled between
					rolling hills and babbling brooks, lived an adventurous explorer named
					Nicolette. Nicolette had an insatiable curiosity about the world
					around her, especially when it came to geography. She spent her days
					poring over maps, tracing rivers with her finger and marveling at the
					shapes of continents.
				</p>

				<p>
					One sunny morning, Nicolette decided to embark on an adventure to
					explore the wonders of her own backyard. Armed with a backpack filled
					with snacks and a trusty compass, she set off into the unknown. She
					navigated to the top of a nearby hill and looked out at the landscape
					spread before her, feeling like a true explorer.
				</p>

				<p>
					As Nicolette wandered through forests and fields, she encountered all
					sorts of geographical features – towering mountains, meandering
					streams, and vast expanses of lush greenery. Each discovery filled her
					with awe and wonder, and she couldn't help but marvel at the beauty of
					the world around her.
				</p>

				<p>
					As the sun began to set, Nicolette returned home, her heart full of
					joy and her mind buzzing with excitement. She realized that no matter
					where she went, there would always be more to explore and discover.
					And so, with a newfound appreciation for the world's wonders,
					Nicolette drifted off to sleep, dreaming of her next great adventure.
				</p>
			</section>

			<section class="interaction">
				<h2>Text Field</h2>
				<textarea
					name="copiedtext"
					id=""
					cols="30"
					rows="10"
					placeholder="Your text gets pasted here"></textarea>
				<p><span id="charCount">0</span> characters</p>

				<button id="recopy">Copy this</button>
			</section>
		</section>

		<script src="/scripts/script.js"></script>
	</body>
</html>
