@font-face {
    font-family: Merriweather;
    src: url("/fonts/Merriweather-Regular.ttf");
}

body {
    font-family: Merriweather, serif;
    padding: 2vh 10vw;
}

h1 {
    font-size: clamp(1.25em, .5em + 2vw, 2.25em);
    margin-bottom: 0;
}

h5 {
    font-style: italic;
    margin-top: 0;
}

p {
    font-weight: 100;
    line-height: 1.75em;
}

p:has(em) {
    text-align: center;
}

/* ---------- */
/* PAGINATION */
/* ---------- */

.pages > .page:not(:first-of-type) {
    display: none;
}

.showpage {
    display: block !important;
}

.hidepage {
    display: none;
}

/* The buttons */
#buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2vh;
    margin: 0 15vw;
    display: flex;
    justify-content: space-between;
    height: 5vh;
    align-items: center;


    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
}

#buttons input {
    padding: .75em 1.5em;
    font-size: 1em;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

#prevpage {
    opacity: 0;
}

#buttons input:hover {
    background-color: black;
    color: white;
}

/* -------- */
/* THE MENU */
/* -------- */

#menu {
    display: flex;
    position: absolute;
    right: -235px;
    top: 2vh; 
    gap: 0;
}

#menu > * {
    margin: 0;
}

#menu input[type=button] {
    background-color: #9ac5d5;
    border: none;
    padding: .75em 1em;
    font-size: 1em;
    transform: rotate(-180deg);
    cursor: pointer;
    writing-mode: tb-rl;

}

#menu .options {
    background-color: #cddce9;
    padding: .75em 1em;
}

.showmenu {
    right: 0 !important;
}

/* ---------------------- */
/* SELECT TEXT WITH CLICK */
/* ---------------------- */

.selectable {
    user-select: none; /* Prevent text selection outside of our custom selection */
}

.selection {
    background-color: yellow;
    display: inline;
}

/* -------------- */
/* RESPONSIVENESS */
/* -------------- */

@media (min-width: 750px) {
    body {
        padding: 2vh 15vw;
    }

    #buttons {
        padding: 0;
    }
}